@using PagedList.Mvc <!--引入PagedList模板-->
@using PagedList
<!--用 PageList 來套用在 Models 的 Flower物件-->
@model IPagedList<Day05.Models.Flower>

@{
    ViewBag.Title = "Index";
}
<link href="~/Content/PagedList.css" rel="stylesheet" /> <!--從Content資料夾中將 PagedList.cs 拖移到這裡-->
<a href="@Url.Action("Index")" class="btn btn-primary">版面一</a>
<a href="@Url.Action("Index02")" class="btn btn-success">版面二</a>
<p></p>
<table class="table">
    <!--用迴圈將圖顯示出來-->
    <tr>
        <th>編號</th>
        <th>名稱</th>
        <th>金額</th>
        <th>圖示</th>
    </tr>
    @foreach (var item in Model)
    {
        string imgsrc = @item.Id + ".jpeg";
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Price</td>
            <td>
                <img src="~/images/@imgsrc" width="200" />
            </td>
        </tr>
    }
</table>
@Html.PagedListPager(Model, page => Url.Action("Index", new { page })) <!--跳轉頁碼 -->