@model IEnumerable<Day13.Models.客戶>

@{
    ViewBag.Title = "客戶查詢";
}

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
    //網頁載入完成執行
    $(document).ready(function () {
        //keyword的keyup事件被觸發會執行fnKeyPress函式
        $("#keyword").on("keyup", fnKeyPress);

        function fnKeyPress() {
            var apiurl = "http://localhost:44301/api/SearchAddress";
            var keyword = $("#keyword").val();
            //呼叫$.ajax函式
            $.ajax({
                url: apiurl + "?keyword=" + encodeURI(keyword),
                type: 'GET',
                success: function (data) {
                    //webapi傳回的資料放入availableTags陣列
                    var availableTags = new Array(data.length);
                    for (var i = 0; i < data.length; i++) {
                        availableTags[i] = data[i];
                    }
                    //呼叫autosomplete函式，將availableTags陣列當做是keyword欄位自動完成清單的來源
                    $("#keyword").autocomplete({
                        source: availableTags
                    });
                }
            });
        }
    });
</script>


<h2>客戶查詢</h2>


<form action="@Url.Action("Index")" method="post">
    <div class="form-group">
        <label for="keyword">關鍵字</label>
        <input type="text" class="form-control" name="keyword" id="keyword">
    </div>
    <input type="submit" class="btn btn-info" value="查詢" />
</form>

@if (Model != null)
{

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.公司名稱)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.連絡人)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.連絡人職稱)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.地址)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.城市)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.行政區)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.郵遞區號)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.國家地區)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.電話)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.傳真電話)
            </th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.公司名稱)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.連絡人)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.連絡人職稱)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.地址)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.城市)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.行政區)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.郵遞區號)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.國家地區)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.電話)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.傳真電話)
                </td>

            </tr>
        }

    </table>

}
